#sidebar div.side-menu {
    width: 100%;
}
#sidebar div.side-menu .menu-body {
    width: initial;
    margin-top: -2px;
}
#sidebar div.side-menu .menu-body ul.sidenav li a{
	width:100%;
	text-align: left;
	padding-left: 20px;
}
#sidebar div.side-menu .menu-body ul.sidenav li ul.nested-dropdown{
	left : 100px;
	z-index: 1;
}
#sidebar div.side-menu .menu-body ul.sidenav li.sidemenu-header{
	padding-left: 20px;
}