.todo-container {
	height:600px;
}
.todo-container .todo-body .todo-list-wrap{
	height:423px;
}
/*.todo-container .todo-body .todo-from-bottom{
	position: fixed;
}*/
/*.card-danger{
	background-color: #2c3e50;
}*/

