agm-map {
  height: 100px;
}
.mysidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 50px;
}
.mysidebar .closebtn {
  position: absolute;
  top: 4px;
 /* left: -50px;*/
  padding-left: 12px;
/*  font-size: 25px;*/
  float:right;
}
.mysidebar .closebtn:hover {
  text-decoration: none;
}

.mysidebar .card-header {
  background-color: #f0ad4e;
  height:78px;
}

.headbar{
  height:30px;
  padding-top:5px;
  padding-left: 10px;
  padding-right: 10px;
  .head-item:hover{
    background-color: #ECF0F1;
    border-radius: 3px;
  }
}

.head-text{
  margin-top: 0.5rem;
}