
	<h1 class="text-center"><small>Service Request Form</small></h1>
	<div class="container">
		<!-- <div class="form-group">
	        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
	    </div> -->
		<div class="head-containter" *ngIf="serviceData">
			<p><strong>Request Id : </strong> {{serviceData.request_id}}<br>
			<strong>Name : </strong> {{serviceData.name}}<br>
			<strong>Email : </strong> {{serviceData.email}}<br>
			<strong>Phone : </strong> {{serviceData.phone}}<br></p>
			<p><strong>Date of Relocation : </strong> {{serviceData.date}}<br>
			<strong>Requested for : </strong> {{serviceData.service_for}}</p>
			<p><strong>AREA : </strong><br>
			<strong>From : </strong> {{serviceData.from}}<br>
			<strong>To : </strong> {{serviceData.city}}<br>
			<strong>Prefered Location : </strong> {{serviceData.loca1}}, {{serviceData.loca2}}, {{serviceData.loca3}}</p> 
			<p><strong>PROPERTY DETAILS:</strong><br>
			<strong>Budget : </strong>Rs. {{serviceData.price}}<br>	
			<strong>BHK : </strong> {{serviceData.bhk}}<br>
			<strong>Furnishing : </strong> {{serviceData.furnishing}}<br>
			</p>
			<hr>
			<!-- <button class="btn btn-secondary btn-bordered" (click)="trackStatus()">Track Status</button> -->
			<p>{{msg}}</p>
			<h4><strong>Scheduled Properties</strong></h4>
			<div class="row">
				<div *ngFor="let p of properties" class="col-lg-4 col-xs-12">
					<div class="card">
					    <agm-map [latitude]="p.prop_details.lat" [longitude]="p.prop_details.lon">
						  <agm-marker [latitude]="p.prop_details.lat" [longitude]="p.prop_details.lon"></agm-marker>
						</agm-map>
					    <div class="card-block">
					        <h4 class="card-title">{{p.prop_details.prop_name}}, <small>{{p.prop_details.area}}| {{p.prop_details.city}}</small></h4>
					        <p class="card-text">
					        	{{p.prop_details.configuration}} | {{p.prop_details.totalArea}} Sq feet<br/>
					        	Rent - Rs {{p.prop_details.m_rent}} | Maintenance - {{p.prop_details.maintenance}}
					        </p>
					        <a href="Javascript:void(0);" class="btn btn-secondary" (click)="openNav(p)">View Details</a>
					    </div>
					    <div class="card-footer">
					    	<p class="card-text"><strong> Visit date & time: </strong>{{p.date}},  {{p.from}}</p>
					    </div>
					</div>
				</div>
			</div>
			<hr>
			<button class="btn btn-secondary btn-bordered" (click)="get_properties();new_showmap = !new_showmap">View more Properties</button>
			<div class="row view_prop" *ngIf="new_showmap">
				<div *ngFor="let p of pagedItems" class="col-lg-4 col-xs-12">
					<div class="card">
					    <agm-map [latitude]="p.lat" [longitude]="p.lon">
						  <agm-marker [latitude]="p.lat" [longitude]="p.lon"></agm-marker>
						</agm-map>
					    <div class="card-block">
					        <h4 class="card-title"><!-- {{p.prop_name}},  --><small>{{p.area}}| {{p.city}}</small></h4>
					        <p class="card-text">
					        	{{p.configuration}} | {{p.totalArea}} Sq feet<br/>
					        	Rent - Rs {{p.m_rent}} | Maintenance - {{p.maintenance}}
					        </p>
					        <a href="Javascript:void(0);" class="btn btn-secondary" (click)="openNav(p)">View Details</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-12 col-xs-12 text-xs-left">
                    <ul class="pagination justify-content-start" *ngIf="pager.pages && pager.pages.length">
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="setPage(1)">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}"><a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)">‹</a></li>

                        <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}"><a class="page-link" href="javascript:void(0)" (click)="setPage(page)">{{page}}</a></li>

                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)">›</a></li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="setPage(pager.totalPages)">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
		<div style="z-index: :1;position: fixed;bottom:10px;right:10px;">
			<div *ngIf="showapp" style="width:400px;bottom:50px">
				<app-chat [idvalue]="serviceData.request_id"></app-chat>
			</div>
			<button type="button" class="btn btn-primary btn-round" style="float:right;" (click)="showapp = !showapp">Flytta Activity</button>			
		</div>
	</div>
	<!-- sidebar -->
	<div id="mySidenav" class="mysidebar">
		<div class="animate property-details" *ngIf="sidebarDataProp">
			<div class="card">
				<!-- <div class="row">
					<div class="col-lg-4 text-center">
						<a href="">Property</a>
					</div>
					<div class="col-lg-4 text-center">
						<a href="">RM</a>
					</div>
					<div class="col-lg-4 text-center">
						<a href="">Schedule</a>
					</div>
				</div> -->			
				<div class="card-header card-default mysidebar-header">
					<div class="card-title">
						<div class="row">
							<div class="col-lg-10">
								<p><strong>Community Name |  {{sidebarDataProp.area}}, {{sidebarDataProp.city}}</strong></p>							
							</div>
							<div class="col-lg-2">
								<button style="float:right;" class="btn btn-sm btn-secondary btn-bordered closebtn" (click)="closeNav()">Close</button>							
							</div>
						</div>
					</div>
				</div>				
				<div class="card-block property">
					<div class="card-img-top">
						<ngb-carousel interval="5000">
		                    <ng-template ngbSlide *ngFor="let p of sidebarDataProp.picurl">
		                        <img src="{{p}}" height="200px" width="400px">
		                    </ng-template>
		                </ngb-carousel>
		            </div>
	                <p class="card-text head-text">
	                	<strong>{{sidebarDataProp.prop_name}}</strong>
	                </p> 
	                <p class="card-text text-muted">
	                	<span class="text-right" style="float:right">
	                		<strong>Rent -</strong> Rs {{sidebarDataProp.m_rent}}<br>
		                	<strong>Maintenance -</strong> Rs {{sidebarDataProp.maintenance}}<br/>
		                	<strong>Security Deposit -</strong> Rs {{sidebarDataProp.advance}}  
	                	</span>		      
	                	{{sidebarDataProp.configuration}} | {{sidebarDataProp.totalArea}} Sq Feet<br/>
	                	{{sidebarDataProp.fur}}, {{sidebarDataProp.facing}} Facing<br>   
	                	Available for {{sidebarDataProp.rent_to}}       	
	                </p>
	                <p class="card-text text-muted">
	                	<strong>Address </strong> <br>              	
	                	{{sidebarDataProp.loca}}	
	                </p>
	                <div class="row">
	                	<div class="col-lg-6">
	                		<button class="btn btn-default" (click)="scheduleVisit = !scheduleVisit">Schedule Visit</button> 
	                	</div>
	                	<div class="col-lg-6">
	                		<button class="btn btn-default" style="float:right" (click)="showMap = !showMap">View on Map</button> 
	                	</div>	                	
		            </div>
		            <div class="row" style="margin-top: 10px">
		            	<div class="col-lg-12" *ngIf="showMap">
		                	<agm-map [latitude]="sidebarDataProp.lat" [longitude]="sidebarDataProp.lon">
							  <agm-marker [latitude]="sidebarDataProp.lat" [longitude]="sidebarDataProp.lon"></agm-marker>
							</agm-map>
		                </div>
		            </div>
		            <div class="row" style="margin-top: 10px">
		                <div class="col-lg-12" *ngIf="scheduleVisit">
		                	<div class="form-group">
		                		<input name="dateValue" class="form-control" [theme]="'dp-material'" [dpDayPicker]="config"  [(ngModel)]="dateValue" placeholder="Select Date">
		                	</div>
		                	<div class="form-group" (click)="getSlotList()">
		                		<select [(ngModel)]="newName" class="form-control" name="newName" placeholder="Select Time" (change)="bookslot()">
		                            <option *ngFor="let slot of slots" value="slot.indeValue">{{slot.name}}</option>
		                        </select>
		                	</div>
		                </div>
	                </div>	                
	                <hr>
	                <h5 class="card-text"><small>Ammenities</small></h5>
	                <div class="row">
	                	<div class="col-lg-4 col-xs-4" *ngFor="let a of amn">
	                		<img src="{{a['icn']}}" height="80px" width="100px;">
	                	</div>
	                </div>
	                <hr>
	                <h5 class="card-text"><small>Features / Facilities</small></h5>
	                <div class="row">
	                	<div class="col-lg-3">
	                		<p class="card-text text-muted">
	                			Bedrooms : {{sidebarDataProp.bedrooms}}
	                		</p>
	                	</div>
	                	<div class="col-lg-3">
	                		<p class="card-text text-muted">
	                			Bathroom: {{sidebarDataProp.bathrooms}}
	                		</p>
	                	</div>
	                	<div class="col-lg-3">
	                		<p class="card-text text-muted">
	                			Balconies: {{sidebarDataProp.balconies}}
	                		</p>
	                	</div>
	                	<!-- <div class="col-lg-3">
	                		<p class="card-text text-muted">
	                			Fridge: 1
	                		</p>
	                	</div>
	                	<div class="col-lg-3">
	                		<p class="card-text text-muted">
	                			TV: 1
	                		</p>
	                	</div> -->
	                </div>
	               <!--  <hr>
					<div class="card-block rmdetail">
						<h5 class="card-text"><small>RM Details</small></h5>
						<p class="card-text text-muted">
							<strong>Name:</strong> {{sidebarData.name}}<br>
							<strong>Email:</strong> {{sidebarData.rm_id}}<br>
							<strong>Contact:</strong> {{sidebarData.phone}}<br>
						</p>
						<p class="card-text text-muted">
							<strong>Today's Visit:</strong> 3<br>
							<strong>Total Visit:</strong> 10<br>
							<strong>Area:</strong> {{sidebarData.rm_area}}
						</p>
						<h5 class="card-text"><small>Visit details</small></h5>
						<p class="card-text text-muted">
							<strong>Date and Time :</strong> {{sidebarData.date}} at {{sidebarData.time}}<br/>
							<strong>Status :</strong> {{sidebarData.status}}<br/>
							<span class="text-success">{{sidebarData.interest}}</span>
						</p>
						<p class="card-text text-muted"><strong> Feedback: </strong>{{sidebarData.feed}}</p>
					</div> -->
				</div>			
			</div>
		</div>
	</div>
<!-- </section> -->