<aside id="sidebar">
    <div class="sidebar-header">
        Admin
    </div>
    <div class="sidenav-outer">        
        <div class="side-menu">
            <div class="menu-body">
                <ul class="sidenav" >                    
                    <li style="padding-top: 10px ! important" class="sidemenu-header"><strong>Services</strong></li>
                    <li><a style="color: #fff! important" href="#">House Rentals</a></li>
                    <li><a style="color: #fff! important" href="#"> Packers and Movers</a></li>
                    <li><a style="color: #fff! important" href="#">Settling-in Services</a></li>
                </ul>
            </div>
        </div>
        <div class="side-widgets">
            <div class="widgets-content">
                <div class="profile">
                  <!--   <a ui-sref="profile"><img src="assets/images/flat-avatar.png" class="user-avatar" /></a> -->
                    <div class="avatar-name">
                        <p><strong>Name: </strong> Renu Sharma</p>
                        <p><strong>Email: </strong> guddimona22@gmail.com</p>
                        <p><strong>Contact: </strong> 7330920423</p>
                    </div>
                    <hr>                    
                </div>
            </div>
        </div>
    </div>
</aside>